.post-type-archive-skill {
	ul {

		&.label-list {
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;

			li {
				@extend .color-label;
				margin-right: 10px;
				margin-bottom: 10px;
				color: $dark;
			}
		}
	}
}