.footer {
	background-color: $dark;
	border-top: 2px solid $green;
	padding: 12px 0 10px 0;
	text-align: center;
	margin-top: 40px;

	a {
		font-family: $font-family;
	}
	.icon {
		margin-left: 3px;
	}
	&__year {
		font-size: 10px;
		line-height: 0.95;
	}
}