/* Colors */



// $green: var($green);
// $indigo: var($indigo);
// $pink: var($pink);
// $yellow: var($yellow);
// $blue: var($blue);
// $red: var($red);
// $purple: var($purple);


$colors: (
	#514A8E,
	#38D6B4,
	#FF7CC2,
	#d0b628,
	#547cff,
	#cb4155,
	#514a8e
);

// White, Light color
$white: #ECE1F1;
$light: rgb(235, 225, 240);
// Black, Dark color
$black: #16023D;
$dark: rgb(21, 2, 61);

// $dark: #1e1e3f;
// $indigo: #001775;
// $green: #38D6B4;
// $pink: #FF7CC2;
// $yellow: #d0b628;
// $blue: #547cff;
// $red: #cb4155;
// $purple: #514A8E;

// VARIABLES from WP Admin Color Palette
$dark: --hsc-dark;
$green: --hsc-green;
$indigo: --hsc-indigo;
$pink: --hsc-pink;
$yellow: --hsc-yellow;
$blue: --hsc-blue;
$red: --hsc-red;
$purple: --hsc-purple;


/* Output color palette/swatches to front-end */
.colors {
	margin: 30px 0;
	padding: 0px 0 25px 0;
	border: 1px solid $white;

	&::before {
		content: "COLORS:";
		background-color: $white;
		color: $dark;
		text-transform: uppercase;
		position: relative;
		top: 3px;
		left: 0px;
		padding: 3px 5px;
	}

	ul {
		list-style-type: none;
		display: flex;
		width: 80%;
		margin: 0px auto 15px auto;
		justify-content: space-between;

		li {
			span {
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				position: relative;
				text-align: center;

				&::after {
					position: absolute;
					bottom: -24px;
					left: 0;
					right: 0;
					font-size: 14px;
				}
			}
			&.purple span {
				background-color: $purple;

				&::after {
					content: "purple";
					color: $purple;
				}
			}
			&.green span {
				background-color: $green;

				&::after {
					content: "green";
					color: $green;
				}
			}
			&.pink span {
				background-color: $pink;

				&::after {
					content: "pink";
					color: $pink;
				}
			}
			&.yellow span {
				background-color: $yellow;

				&::after {
					content: "yellow";
					color: $yellow;
				}
			}
			&.blue span {
				background-color: $blue;

				&::after {
					content: "blue";
					color: $blue;
				}
			}
			&.red span {
				background-color: $red;

				&::after {
					content: "red";
					color: $red;
				}
			}
		}
	}

}


@mixin random-color-li() {
	@for $i from 1 through $repeat {
		li:nth-child(#{length($colors)}n+#{$i}) {
			// background: lighten(nth($colors, random(length($colors))), 20%);
		}
	}
}

.color-label {
	padding: 6px 10px 4px 10px;
	margin-right: 5px;
	line-height: 1.2;
	font-size: 22px;
	font-variation-settings: "MONO" 1, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.25;
	font-size: 20px;
	font-variation-settings: "MONO" 1, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.25;
	border-radius: 4px;
}