@font-face {
	font-family: 'Monoisome';
	src: url('./assets/dist/fonts/Monoisome-Regular.ttf') format('truetype');
}
$icon_font: 'Monoisome';

@font-face {
	font-family: 'Monoid';
	font-weight: normal;
	font-style: normal;
	src: url('./assets/dist/fonts/Monoid-Regular-Small.ttf') format('truetype');
}
$monoid: 'Monoid';

@font-face {
	font-family: 'Monoid Bold';
	font-weight: bold;
	font-style: normal;
	src: url('./assets/dist/fonts/Monoid-Bold-Small.ttf') format('truetype');
}
$monoid_bold: 'Monoid Bold';

@font-face {
	font-family: 'Monoid Italic';
	font-weight: normal;
	font-style: italic;
	src: url('./assets/dist/fonts/Monoid-Italic-Small.ttf') format('truetype');
}
$monoid_italic: 'Monoid Italic';


// $font: $monoid;
// $bold: $monoid_bold;
// $italic: $monoid_italic;