.home {
	.content {
		.cta {
			background-color: var($green);
			color: $black;
			padding: 30px 0;

			&__inner {
				display: flex;
				align-items: center;
			}

			&__text {
				flex: 60% auto;
				margin-right: 30px;

				.message-box {
					background-color: $white;
					padding: 14px 10px 10px 14px;
					position: relative;
					z-index: 1;
					box-shadow: 5px 5px 5px $black;

					&::before {
						content: "";
						position: absolute;
						top: 58px;
						left: -23px;
						transform: translateY(-60%) rotate(-130deg);
						border: 20px solid transparent;
						border-bottom-color: #ECE1F1;
						border-bottom-width: 60px;
						border-top-width: 0;
						border-left-width: 12px;
						border-right-width: 12px;
						z-index: -1;
					}
				}
				p {
					font-size: 22px;
					line-height: 1.15;
				}
			}
			&__button {
				flex: 1 0 auto;
				padding: 20px;
				padding-top: 0;

				a {
					display: block;
					font-size: 24px;
					line-height: 1.2;

					&.cta-link {}
				}
			}
		}
	}
}