.employer {
	margin-bottom: 2rem;
	border: 4px solid $green;
	border-radius: 7px;

	&__info {
		padding: 0 20px 15px 20px;
	}
	&__name {
		position: relative;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	&--current {

		.employer__name {
			position: relative;

			&::after {
				content: "Current";
				position: absolute;
				z-index: 1;
				left: auto;
				right: -10px;
				top: -10px;
				color: $purple;
				background-color: $white;
				padding: 6px 12px 4px 12px;
				font-size: 1.6rem;
				font-variation-settings: "MONO" 1, "CASL" 0.5, "wght" 800, "slnt" 0, "CRSV" 1;
			}
		}

	}

	// Self-employed
	&--self-employed-freelance {

		&::last-child {
			margin-bottom: 0;
		}
	}
}