.table-theme {
	table {
		border-collapse: collapse;
		width: 100%;
	}
	td,
	th {
		border: 1px solid var($green);
		padding: 10px 10px 8px 10px;
	}
	th {
		background-color: var($green);
		color: var($dark);
		font-weight: 800;
		font-size: 1.2rem;
		border-right-color: var($dark);

		&:last-child {
			border-right-color: var($green);
		}
	}
	td {
		color: $white;
	}
}