table {
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border: 1px solid $green;
	padding: 10px 10px 8px 10px;
}
th {
	background-color: $green;
	color: $dark;
	font-weight: 800;
	font-size: 1.2rem;
	border-right-color: $dark;

	&:last-child {
		border-right-color: $green;
	}
}
td {
	color: $white;
}